.auth--container {
    position: relative;
    height: 100vh;
    background: url('../assets/authbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth--container>h1 {
    font-size: 3.5rem;
    color: #00FFFF;
}

.auth--container>p {
    font-size: 2rem;
}

.loader {
    width: 150px;
}