.home--page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10000;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.3);
}

.home--content {
    position: relative;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.home--content h1 {
    font-size: 3rem;
}

.text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.home--content p {
    font-size: 1.8rem;
}

.home--content span {
    color: #00FFFF;
}

.astronaut {
    position: absolute;
    left: 320px;
    width: 450px;
}