.login {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 350px;
    height: 520px;
    border: 1px solid #fff;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(46, 213, 255, 0.9);
    -moz-box-shadow: 0px 0px 18px 0px rgba(46, 213, 255, 0.9);
    box-shadow: 0px 0px 18px 0px rgba(46, 213, 255, 0.9);
}

.header {
    font-size: 1.5rem;
    color: #00FFFF;
}

.login--email {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    color: #000;
    outline: none;
}

.text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.forgot--pass:hover {
    color: #00FFFF;
    transition: 0.4s ease-in;
}

.btn {
    width: 80%;
    font-size: 1rem;
    letter-spacing: 1px;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border: 1px solid #fff;
    background: transparent;
    cursor: pointer;
    transition: 0.5s ease-in;
    text-transform: uppercase;
}

.btn:hover {
    background: #00FFFF;
    color: #111;
    border: 1px solid #000;
}

.login--icons {
    display: flex;
    font-size: 1.8rem;
    gap: 1rem;
    margin: 10px auto;
}

.login>p {
    bottom: 1.5rem;
}

.icon {
    cursor: pointer;
}

.signup--link {
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
    font-size: 1.2rem;
    color: #00FFFF;
}

.signup--link:hover {
    -webkit-animation: jello-horizontal 0.5s both;
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}