.reset--password {
    position: relative;
    background: url('../assets/resetbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset--form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 500px;
    height: 250px;
    border: 1px solid #fff;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(46, 213, 255, 0.9);
    -moz-box-shadow: 0px 0px 18px 0px rgba(46, 213, 255, 0.9);
    box-shadow: 0px 0px 18px 0px rgba(46, 213, 255, 0.9);
}